name: .NET

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: Setup .NET
      uses: actions/setup-dotnet@v1
      with:
        dotnet-version: 6.0.x
    - name: Restore dependencies
      run: dotnet restore MetricsExperiment/MetricsExperiment.sln
    - name: Build
      run: dotnet build MetricsExperiment/MetricsExperiment.sln --no-restore
    - name: Codacy Analysis CLI
      # You may pin to the exact commit or the version.
      # uses: codacy/codacy-analysis-cli-action@f38648320929161d81646834fbee4d75f6502aea
      uses: codacy/codacy-analysis-cli-action@4.0.2
      with:
        api-token: ${{secrets.CODACY_API_TOKEN}}    
    - name: Test
      run: dotnet test MetricsExperiment/MetricsExperiment.sln --no-build --verbosity normal

